body {
    margin: 0;
    padding: 0;
}

#game-screen {
    display:block;
}

#play-screen {
    display: block;
}

#gameOver {
    position: absolute;
    visibility: hidden;
}

#PLAY {
    position: absolute;
    visibility: visible;
}

h1, h2, h3, h4 {
    font-family:'PERMANENT MARKER', cursive;
    color: white;
    text-align: center;
}

.title {
    font-size: 62px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#play-button{
    border: 2px solid white;
    border-radius: 10px;
}

#play-button:hover {
    background-color: #009900;
}

#restartButton {
    border: 2px solid white;
    border-radius: 10px;    
}

#restartButton:hover {
    background-color: #009900;
}

scoreboard {
    margin: 0px;
}

html{
    overflow-y:hidden;
    overflow-x:hidden;
}