body {
    margin: 0;
    padding: 0;
}

#game-screen {
    display: circle;
}

#gameOver, #playHUD, #mainMenu {
    position: absolute;
    visibility: hidden;
}

h1, h2, h3 {
    font-family: 'Permanent Marker', cursive;
    color: purple;
    text-align: center;
}

.title{
    font-size: 62px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#restartButton{
    border: 2px dotted red;
    border-radius: 100px;
}

#restartButton:hover{
    background-color: #009900;
}

#mainMenu{
    border: 2px dotted red;
    border-radius: 100px;
}

#mainMenu:hover{
    background-color: #110011;
}

#scoreboard {
    margin: 0px;
}

audio{
    audio: import url("http://fonts.googleapis.com/css?family=Press+Start+2P");
}    